@font-face {
  font-family: nb;
  src: url(./asset/NBInternationalProBoo.ttf);
}
@font-face {
  font-family: rejoy;
  src: url(./asset/Rejouice-Headline.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'nb';
}
html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: red;
  position: relative;
}
#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
#page1-content {
  height: 100%;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: red; */
  padding: 2.9vw 2.6vw;
}
nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
}
nav h4 {
  font-size: 1.4vw;
  font-weight: 100;
}
#page1-content h1 {
  font-family: rejoy;
  font-size: 27vw;
  font-weight: 100;
  line-height: 23vw;
}
#page1-content h1 span {
  font-family: rejoy;
}
